:host /deep/ {
  .wrapper {
    @extend %center;
  }

  .box {
    height: 50px;
    width: 85px;
    border: 1px solid black;
    transition: all 1s;
    @extend %center;
    &.changed {
      background: black;
      color: white;
    }
  }

}

%center {
  display: flex;
  justify-content: center;
  align-items:center;
}